.header{
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    flex-direction: row;
    &__btn{
        border: 1px solid black;
        padding: 5px 10px 5px 10px;
    }
    &__btn:not(:first-child){

        margin-left: 30px;
    }
}